<template>
  <v-card class="ma-4">
      <v-card-title>
          Semanas pra meses
      </v-card-title>
      <v-card-text>
          <v-text-field
            label="Quantidade de semanas"
            type="number" filled v-model="semanas"/>
            <div class="text--black">
                Essa prenha tá com {{semanas / 4}} meses
            </div>
      </v-card-text>
  </v-card>
</template>

<script>
export default {
    data() {
    return {
        semanas: 0
    }
  }
}
</script>

<style>

</style>